WcfSunat/Sunat/Service References/ServiceReference1/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Multa" nillable="true" type="tns:Multa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMulta" nillable="true" type="tns:ArrayOfMulta" />
  <xs:complexType name="Multa">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoTributo" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Multa" nillable="true" type="tns:Multa" />
</xs:schema>